/* Глобальные стили */
body, html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  height: 100%;
  
}


/* Основной контейнер */
.container {
  margin: 0 auto;
  padding: 6px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: linear-gradient(0deg, rgba(37, 37, 37, 0.5), rgba(41, 41, 41, 0.5)), url(https://www.securitiesfinancetimes.com/securitieslendingnews/images/FridayAugust720201596799369.jpeg)  ;
  
  

  background-repeat: no-repeat;      
  background-attachment: fixed;      
  background-size: cover;      
  background-color: #464646; 

  /* background: linear-gradient(135deg, #72edf2, #5151e5); */
  font-family: "Roboto", sans-serif;
  
  box-sizing: border-box;
}

/* Заголовок */
.title {
  font-size: 48px;
  color: #3b9ee9;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  margin: 40px;
}

/* Форма поиска */
.searchBox {
  position: relative;
  width: 100%;
  max-width: 800px;
  
  padding: 20px;
  box-sizing: border-box;
  
  border-radius: 12px;
  
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 600px;
  
  gap:10px;
  /* padding-left: 70px; */
}
/* Поле ввода */
.input {
  padding-left: 30px;
  flex: 1; /* Занимает оставшееся пространство */
  padding: 15px 35px;
  border: 1px solid #ccc;
  border-radius: 25px; /* Скругление только слева */
  outline: none;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  
}

.input:focus {
  border-color: #007bff; /* Синий цвет при фокусе */
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
  outline: none;
}

/* Список подсказок */
.suggestions {
  position: absolute;
  top: 70px;
  width: 100%;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  z-index: 1000;
  max-height: 250px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.suggestion {
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}

.suggestion:hover {
  background: #f0f8ff;
  color: #36a2eb;
}

/* Лоадер (индикатор загрузки) */
.loader {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 3px solid transparent;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Детали выбранной школы */
.details {
  
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 97%;
  
  box-sizing: border-box;
  overflow: hidden;
}

.details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
}

.details p {
  margin: 8px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
} 

/* Метрики */
.metrics {
  display: flex;
  flex-direction: row; /* Горизонтально по умолчанию */
  justify-content: space-between;
  gap: 16px;
  background-color: #ffffff;
  
  box-sizing: border-box;
}

.metrics p {
  flex: 1; /* Чтобы все группы занимали равное пространство */
  margin: 8px;
 
}

@media (max-width: 768px) {
  .metrics {
    flex-direction: column; /* Переход на колонку */
    align-items: flex-start; /* Выровнять элементы по началу */
  }
  

  /* .searchBox {
    position: relative;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
  } */

   

  /* .title {
    font-size: 38px;
  } */

  .metrics p {
    width: 100%; /* Группы занимают всю ширину */
    margin: 0 0 16px 0; /* Отступы между группами */
  }
  canvas {
    margin: 0 auto;
    display: block;
    max-width: 150px;
    max-height: 150px;
  }
}
canvas {
  margin: 0 auto;
  display: block;
  max-width: 350px;
  max-height: 350px;
}

/* .metrics ul {
  padding-left: 16px;
}

.metrics li {
  margin: 4px 0;
  color: #000000;
} */




.restButton:hover {
  background-color: #1d88c1;
}

.restButton:active {
  transform: scale(0.98);
}

.navbar {
  background-color: #33333300;
  
  position: sticky;
  top: 0;
  z-index: 100;
}

.navList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

.navLink:hover {
  color: #ddd;
}

.filter {
  padding: 8px;
    
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    height: 40px;
}
.filter::after { 
  content: attr(data-title); 
 }
.filter:hover {
  border-color: #007bff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Полупрозрачный чёрный фон */
  z-index: 10; /* Поверх контента сайта */
  transition: opacity 0.3s ease; /* Плавное появление */
}

.searchIcon {
  position: absolute;
  left: 13px;
  font-size: 18px;
  color: #aaa;
}

/* Контейнер поиска */
.searchBox {
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Список подсказок * отодвигает ниднбюю панель/
/* .suggestions {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.suggestion:hover {
  background-color: #f1f1f1;
} */



.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.block {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.block h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #007bff;
}

.block ul {
  list-style: none;
  padding: 0;
}

.block ul li {
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
}