/* about.css */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.studentList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.studentItem {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.studentItem:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.studentDetails {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.studentInfo {
  margin-bottom: 20px;
}

.studentInfo p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.directionsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.directionItem {
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  margin-bottom: 10px;
}

.directionItem p {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.backButton {
  margin-bottom: 20px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #45a049;
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff; /* Синий цвет */
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.scrollToTopButton:hover {
  background-color: #0056b3; /* Темнее при наведении */
  transform: scale(1.1); /* Увеличение при наведении */
}

.scrollToTopButton:active {
  transform: scale(0.95); /* Уменьшение при клике */
}